<div class="container">
  <div class="sidenav-container" [ngClass]="{'open': isSidenavOpen}">
    <button class="toggle-btn" (click)="toggleSidenav()">
      @if (!isSidenavOpen) {
        <span class="menu-icon">☰</span>
      }
      @if (isSidenavOpen) {
        <span class="close-icon">×</span>
      }
    </button>
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-content">
    <app-dashboard-header></app-dashboard-header>
    <div class="content">
      <h4 class="welcome-header">Welcome Back, {{ username }}</h4>
      @if (isPopupOpen) {
        <div class="popup-overlay" [class.disabled]="isAllCompleted">
          <div class="popup-box">
            <span class="close-btn" (click)="closePopup()">&times;</span>
            @if (isJournal) {
              <h2>Your Note for the Day</h2>
            }
            @if (!isJournal) {
              <h2>{{ popupTitle }}</h2>
            }
            @if (!isJournal) {
              <p [innerHTML]="popupContent"></p>
            }
            @if (isBreathingExercise) {
              <div>
                <!--Display video here-->
                <!-- <video controls width="250" muted playsinline autoplay>
                <source [src]="getSafeUrl(videoUrl)" type="video/mp4"/>
                <source [src]="getSafeUrl(videoUrl)" type="video/webm"/>
              </video> -->
              <!-- <iframe width="260" height="215" [src]="getSafeUrl(videoUrl)" title="YouTube video player" frameborder="0"></iframe> -->
            </div>
          }
          @if (isJournal) {
            <div class="journal-area">
              <textarea placeholder="Write down anything here..." [(ngModel)]="journalEntry"></textarea>
              <button class="submit-btn" (click)="submitJournal()">POST</button>
            </div>
          }
        </div>
      </div>
    }
    <div class="task-cards">
      <div class="card-block">
        <div class="card" id="quote_card" (click)="openPopup('quote')" [class.disabled]="isAllCompleted">
          <img src="assets/quote_box_icon.png" alt="quote_box_icon" width="40px" height="40px">
          <p>Quote Box</p>
          <p>Open to find your Daily Quote</p>
        </div>
        @if (quoteCompletedToday) {
          <img src="assets/greentick.png" alt="greentick" class="green-tick">
        }
      </div>
      <div class="card-block">
        <div class="card" id="exercise_card" (click)="openPopup('exercise')" [class.disabled]="isAllCompleted">
          <img src="assets/exercise_box_icon.png" alt="exercise_box_icon" width="40px" height="40px">
          <p>Exercise of the Day</p>
          <p>Complete your day's task now</p>
        </div>
        @if (exerciseCompletedToday) {
          <img src="assets/greentick.png" alt="greentick" class="green-tick">
        }
      </div>
      <div class="card-block">
        <div class="card" id="journal_card" (click)="openPopup('journal')" [class.disabled]="isAllCompleted">
          <img src="assets/journal_box_icon.png" alt="journal_box_icon" width="40px" height="40px">
          <p>Gratitude Note</p>
          <p>Write Your happy note for the Day</p>
        </div>
        @if (journalCompletedToday) {
          <img src="assets/greentick.png" alt="greentick" class="green-tick">
        }
      </div>
    </div>
  </div>
</div>
</div>


