<div class="container">
    <div class="sidenav-container" [ngClass]="{'open': isSidenavOpen}">
        <button class="toggle-btn" (click)="toggleSidenav()">
            <span class="menu-icon" *ngIf="!isSidenavOpen">☰</span>
            <span class="close-icon" *ngIf="isSidenavOpen">×</span>
        </button>
        <app-sidenav></app-sidenav>
    </div>
    <div class="main-content">
        <app-dashboard-header></app-dashboard-header>
        <div class="content">
            <h4 class="welcome-header">Welcome Back, {{ username }}</h4>
            <div class="popup-overlay" *ngIf="isPopupOpen" [class.disabled]="isAllCompleted">
                <div class="popup-box">
                    <span class="close-btn" (click)="closePopup()">&times;</span>
                    <h2 *ngIf="isJournal">Your Note for the Day</h2>
                    <h2 *ngIf="!isJournal">{{ popupTitle }}</h2>
                    <p *ngIf="!isJournal" [innerHTML]="popupContent"></p>
                    <div *ngIf="isBreathingExercise">
                        <!--Display video here-->
                        <!-- <video controls width="250" muted playsinline autoplay>
                            <source [src]="getSafeUrl(videoUrl)" type="video/mp4"/>
                            <source [src]="getSafeUrl(videoUrl)" type="video/webm"/>
                        </video> -->
                        <!-- <iframe width="260" height="215" [src]="getSafeUrl('https://youtu.be/X8-auclIjsA')" title="YouTube video player" frameborder="0"></iframe> -->
                    </div>
                    <div class="journal-area" *ngIf="isJournal">
                        <textarea placeholder="Write down anything here..." [(ngModel)]="journalEntry"></textarea>
                        <button class="submit-btn" (click)="submitJournal()">POST</button>
                    </div>
                </div>
            </div>
            <div class="task-cards">
                <div class="card-block">
                    <div class="card" id="quote_card" (click)="openPopup('quote')" [class.disabled]="isAllCompleted">
                        <img src="assets/quote_box_icon.png" alt="quote_box_icon" width="40px" height="40px">
                        <p>Quote Box</p>
                        <p>Open to find your Daily Quote</p>
                    </div>
                    <ng-container *ngIf="quoteCompletedToday">
                        <img src="assets/greentick.png" alt="greentick" class="green-tick">
                    </ng-container>
                </div>
                <div class="card-block">
                    <div class="card" id="exercise_card" (click)="openPopup('exercise')" [class.disabled]="isAllCompleted">
                        <img src="assets/exercise_box_icon.png" alt="exercise_box_icon" width="40px" height="40px">
                        <p>Exercise of the Day</p>
                        <p>Complete your day's task now</p>
                    </div>
                    <ng-container *ngIf="exerciseCompletedToday">
                        <img src="assets/greentick.png" alt="greentick" class="green-tick">
                    </ng-container>
                </div>
                <div class="card-block">
                    <div class="card" id="journal_card" (click)="openPopup('journal')" [class.disabled]="isAllCompleted">
                        <img src="assets/journal_box_icon.png" alt="journal_box_icon" width="40px" height="40px">
                        <p>Gratitude Note</p>
                        <p>Write Your happy note for the Day</p>
                    </div>
                    <ng-container *ngIf="journalCompletedToday">
                        <img src="assets/greentick.png" alt="greentick" class="green-tick">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


