<div class="container">
    <div class="sidenav-container">
        <app-sidenav></app-sidenav>
    </div>
    <div class="main-content">
        <app-dashboard-header></app-dashboard-header>
        <div class="content">
            <h4 class="welcome-header">Welcome Back, {{ username }}</h4>
            <div class="task-cards">
                <div class="card">

                </div>
                <div class="card">

                </div>
                <div class="card">
                    
                </div>
            </div>
        </div>
    </div>
</div>
